################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WcfServices
/WcfServices/bin
/WcfServices/obj
